body{
	font-family: "Microsoft Yahei";
	font-size: 16px;
	line-height: 1.5em;
	background-color:rgb(222,222,222); 
}
#top{
	background-color: rgb(51,51,51);
	height: 80px;
}
#top a{
	text-decoration: none;
	color:rgb(255,255,255);
}
#top img{
	margin: 15px 30px;
	height: 50px;
}
#topLink{
	margin: 30px 30px 0 0;
	float: right;
}
#topLink li{
	display: inline-block;
	margin-left: 12px;
}
#topLink a:hover{
	text-decoration:underline;
}
.article{
	clear: both;
	background-color: rgb(255,255,255);
	width: 94%;
	margin: 20px;
	border: thin solid rgb(255,255,255);
	padding: 20px;
}
.article p{
	text-indent: 2em;
}
.article ul{
	list-style-type: none;
}
.article li{
	clear:both;
	display:block;
}
.article li div{
	float:left;
	border:1px solid black;
	margin: 10px;
}
.fig{
	display: inline;
	text-align: left;
	border: 2px solid red;
	
}
.clear-float{
	overflow: auto;
}
.table1{
	width: 100%;
	line-height: 30px;
	text-align: left;
	border-collapse: collapse;
}

.table1 thead{
	background-color: rgb(50,50,50);
	color: white;
	padding-left: 5px;
}
.table1 td{
	border: thin solid rgb(222,222,222);
}
.table1 tfoot{
	background-color: rgb(200,200,200);
}
.form-info{
	float: left;
	width: 30%;
	text-align: right;

}
.tips{
	margin-left: 30%;
	font-size: 14px;
	color: rgb(200,200,200);
}
textarea{
	width: 60%;
	height: 100px;
}
.submit-button{
	width: 100%;
	height: 40px;
	border:none;
	border-radius: 10px; /*半径*/
	text-align: center;
	background-color: rgb(50,83,205);
	color: white;
	font-size: 18px;
}
footer{
	background-color:  rgb(51,51,51);
	height: 50px;
	text-align: center;
	color: white;
	font-size: 80%;
}



